## Introduction to Monte Carlo Simulation of a S&P 500-like investment
### Starting with 10,000 and investing an additional 10,000 annually, what is the probability that you will have at least 1,000,000 after 30years of investing in the S&P 500 etf?

In [40]:
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import locale
locale.setlocale(locale.LC_ALL, '')
#https://www.youtube.com/watch?v=A0J0VAHzIxc&list=WL&index=43&t=0s

'English_United Kingdom.1252'

In [15]:
pv=10000
time_horizon=30
i=0.07
additions=10000

for year in range(time_horizon):
    pv=pv*(1+i)+additions
    print(locale.currency(pv, grouping=True))

£20,700.00
£32,149.00
£44,399.43
£57,507.39
£71,532.91
£86,540.21
£102,598.03
£119,779.89
£138,164.48
£157,835.99
£178,884.51
£201,406.43
£225,504.88
£251,290.22
£278,880.54
£308,402.17
£339,990.33
£373,789.65
£409,954.92
£448,651.77
£490,057.39
£534,361.41
£581,766.71
£632,490.38
£686,764.70
£744,838.23
£806,976.91
£873,465.29
£944,607.86
£1,020,730.41

In [21]:
pv=10000
time_horizon=30
expected_return=0.09
std=0.18
additions=10000
for year in range(time_horizon):
    i=np.random.normal(expected_return,std)
    pv=pv*(1+i)+additions
    print(locale.currency(pv, grouping=True))

£23,781.08
£33,812.83
£52,961.70
£88,103.10
£85,187.33
£105,837.51
£144,375.06
£138,932.27
£108,363.40
£121,388.17
£140,538.78
£165,464.51
£147,174.88
£114,521.49
£136,700.09
£128,413.00
£166,731.99
£192,015.96
£176,393.83
£175,649.42
£185,824.05
£227,788.11
£270,349.65
£268,647.66
£276,723.44
£288,837.67
£285,398.14
£397,689.55
£352,669.49
£477,746.31

In [80]:
iteration=10000
cases=pd.DataFrame()
for x in range(iteration):
    pv=10000
    time_horizon=30
    expected_return=0.09
    std=0.18
    additions=10000
    end=[]
    
    for year in range(time_horizon):
        i=np.random.normal(expected_return,std)
        pv=pv*(1+i)+additions
        end.append(pv)
    #print(end)
    cases[x]=end
#print(cases)
#plt.plot(cases)

In [81]:
cases.loc[29]# money value at 30th years
print("Count: ", len(cases.loc[29]))
print("mean : ", np.mean(cases.loc[29]))
print("standard deviation : ", np.std(cases.loc[29]))
print("max : ", np.max(cases.loc[29]))
print("min : ", np.min(cases.loc[29]))

Count:  10000
mean :  1494646.0086611414
standard deviation :  1199128.0901199896
max :  19568730.143869158
min :  113576.38600694528

In [82]:
cases.loc[29].describe()
ending=cases.loc[29]

In [66]:
ending

0    1.065553e+06
1    1.692549e+06
2    1.882535e+06
3    1.306087e+06
4    3.232997e+06
5    2.291586e+06
6    1.104798e+06
7    1.176903e+06
8    8.190138e+05
9    9.097605e+05
Name: 29, dtype: float64

In [77]:
ending[ending>=1000000]

0      2.786832e+06
1      1.807602e+06
4      2.510684e+06
6      2.152105e+06
8      1.398872e+06
10     2.368968e+06
14     1.677731e+06
15     1.063328e+06
17     1.010875e+06
19     1.001233e+06
23     1.383592e+06
24     1.566966e+06
25     2.425018e+06
27     2.125350e+06
28     1.510984e+06
30     2.542677e+06
31     1.573747e+06
33     1.156897e+06
35     2.563750e+06
36     2.179674e+06
38     1.739302e+06
40     1.452546e+06
42     1.249286e+06
44     3.537723e+06
45     1.407891e+06
48     1.531008e+06
49     1.198383e+06
51     3.005491e+06
52     5.028947e+06
55     2.169900e+06
           ...
949    3.122795e+06
951    1.940861e+06
952    1.350218e+06
954    2.706396e+06
955    4.067316e+06
956    2.116564e+06
957    2.520721e+06
961    1.029827e+06
962    4.681836e+06
965    3.384706e+06
966    1.136425e+06
967    1.031815e+06
968    1.419609e+06
969    1.216309e+06
975    1.170845e+06
976    5.047316e+06
979    1.616718e+06
982    2.166126e+06
983    1.236250e+06
984    1.228299e+06
988    1.680476e+06
989    1.870418e+06
990    3.705689e+06
992    1.519504e+06
994    1.599827e+06
995    2.561562e+06
996    3.598957e+06
997    1.393251e+06
998    3.370718e+06
999    1.550041e+06
Name: 29, Length: 609, dtype: float64

In [83]:
len(ending[ending>=1000000])/len(ending)

0.5876